<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/trending">
            <img alt="FilmCult" src="../../public/assets/titleIcon.svg" class="d-inline-block align-top" id="logo">
        </a>
        <div class="collapse navbar-collapse" id="navBar Supported Content">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/trending">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navBarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Create
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navBarDropdown">
                        <li><a class="dropdown-item" href="/posts/createPostPage" id="postLink">Create Post</a></li>
                        <li><a class="dropdown-item" href="/movies/create" id="movieLink">Create Movie</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
            </ul>
            <div class="d-flex" href="/user">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navBarUserDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img alt="User Profile" src="../../public/assets/userIcon.svg">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navBarUserDropdown">
                        <li><a class="dropdown-item" href="/users" id="userLink">User Profile</a></li>
                        <li><a class="dropdown-item" href="/logout" id="logoutLink">Log Out</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
<div>
    <p> Create a movie</p>
    <form action="/movies" method="POST" class="movieForm">
        <label id="labelMovieTitle">
            Title
            <input type="text" name="title" id="movieTitleInput" />
        </label>
        <label id="labelMovieDescription">
            Description
            <input type="text" name="description" id="movieDescriptionInput" />
        </label>
        <label id="labelMovieBudget">
            Budget
            <input type="number" name="budget" id="movieBudgetInput" />
        </label>
        <label id="labelMovieImage">
            Image URL
            <input type="file" name="image" id="movieImageInput" />
        </label>
        <div class="checkBoxes" id="movieBoxes">
            <label><input type="checkbox" name="genres[]" value="adventure" />Adventure</label>
            <label><input type="checkbox" name="genres[]" value="action" />Action</label>
            <label><input type="checkbox" name="genres[]" value="drama" />Drama</label>
            <label><input type="checkbox" name="genres[]" value="comedy" />Comedy</label>
            <label><input type="checkbox" name="genres[]" value="thriller" />Thriller</label>
            <label><input type="checkbox" name="genres[]" value="horror" />Horror</label>
            <label><input type="checkbox" name="genres[]" value="romcom" />Romantic Comedy</label>
            <label><input type="checkbox" name="genres[]" value="musical" />Musical</label>
            <label><input type="checkbox" name="genres[]" value="documentary" />Documentary</label>
            <label><input type="checkbox" name="genres[]" value="romance" />Romance</label>
            <label><input type="checkbox" name="genres[]" value="animation" />Animation</label>
            <label><input type="checkbox" name="genres[]" value="scifi" />Science Fiction</label>
        </div>
        <button class="formButtons" id="movieButton" type="submit">Create Movie</button>
    </form>
</div>
<footer class="bg-light" id="footer">
    <div class="container">
        <div class="row">
            <div id="footerCenter">
                <div class="col">
                    <a href="/trending" id="footerLink">Back to main page</a>
                    <p>&copy; FilmCult</p>
                </div>
            </div>
        </div>
    </div>
</footer>