<form id="login-form" method="POST" action="/login">
    {{#if error}}
    <p>Invalid username or password</p>
    {{/if}}
    <label for="username">Please Enter a Username </label>
    <input type="text" id="username" name="username">
    <label for="password">Please Enter a Password </label>
    <input type="password" id="password" name="password">
    <button type="Submit" value="Submit">Submit</button>
</form>