{{> message}}
{{
    #if username
}}
<h2>{{username}}'s Profile</h2>
<table class="table">
    <tr>
        <td>First Name: </td>
        <td>{{firstName}}</td>
    </tr>
     <tr>
        <td>Last Name: </td>
        <td>{{lastName}}</td>
    </tr>
     <tr>
        <td>User Name: </td>
        <td>{{userName}}</td>
    </tr>
     <tr>
        <td>Email: </td>
        <td></td>
    <tr>
</table>