<form id="signup-form" method="POST" action="/signup">
    {{#if error}}
    <p>Invalid credentials</p>
    {{/if}}
    <label for="firstName">First Name: </label>
    <input type="text" id="firstName" name="firstName">
    <label for="lastName">Last Name: </label>
    <input type="text" id="lastName" name="lastName">
    <label for="userName">UserName: </label>
    <input type="text" id="userName" name="userName">
    <label for="email">Email: </label>
    <input type="text" id="email" name="email">
    <label for="password">Password: </label>
    <input type="password" id="password" name="password">
    <button type="Submit" value="Submit">Submit</button>
</form>