<div class="navBar">
    <a href="/trending"><img alt="FilmCult" src="../../public/assets/titleIcon.svg" class="logo"></a>
    <a href="/search" id="searchLink">Search for a movie, recommendation, or post</a>
    <a href="/user" id="userProfile">Go to Your User Page</a>
    <a href="/posts/createPostPage" id="postLink">Create post</a>
    <a href="/movies/create" id="createMovieLink">Create movie</a>
</div>
<h1>trending page</h1>
<ul class="posts">
    {{#each posts}}
    <li>
        <a href="/posts/{{this._id}}">{{this.postTitle}}: Author: {{this.authorName}}</a>
        <ul>
            <li>
                {{this.postBody}}
            </li>
        </ul>
    </li>
    {{/each}}
</ul>
{{!-- <div id="movie"> --}}
</div>
{{!--

<ul id="recommendations">
    <h3>Recommendations</h3>
</ul> --}}
<a href="/trending" id="homeLink">Back to All Shows</a>
<footer class="footer">
    <p>FilmCult</p>
</footer>