<div class="navBar">
    <img alt="FilmCult" src="../../public/assets/titleIcon.svg" width="48" height="64">
    <form action="/search" method="POST" class="searchForm">
        <input type="text" value="Look up movie,post,user..." class="searchFormInput" />
        <button type="submit"><img alt="search" src="../../public/assets/searchIcon.svg"></button>
    </form>
    <a href="/userProfile" id="userProfile">Go to Your User Page</a>
</div>
<h1>trending page</h1>
<a href="/posts/" id="postLink">Create post</a>
<a href="/movies/" id="movieLink">Create movie</a>
<ul id="movieList">
</ul>
<div id="movie">
</div>
<ul id="recommendations">
    <h3>Recommendations</h3>
</ul>
<a href="/" id="homeLink">Back to All Shows</a>
<footer class="footer">
    <p>FilmCult</p>
</footer>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/public/js/trending.js"></script>