<div class="navBar">
    <img alt="FilmCult" src="../../public/assets/titleIcon.svg" class="logo">
    <form action="/search" method="POST" class="searchForm">
        <input type="text" value="Look up movie,post,user..." class="searchFormInput" />
        <button type="submit"><img alt="search" src="../../public/assets/searchIcon.svg"></button>
    </form>
    <a href="/userProfile" id="userProfile">Go to Your User Page</a>
</div>
<h1>trending page</h1>
<a href="/movies/" id="postLink">Create post</a>
<ul id="movieList">
</ul>
<div id="movie">
</div>
<ul id="recommendations">
    <h3>Recommendations</h3>
</ul>
<a href="/trending" id="homeLink">Back to All Shows</a>
<footer class="footer">
    <p>FilmCult</p>
</footer>