<h1>trending page</h1>
<ul id="movieList">
</ul>
<div id="movie">
</div>
<ul id="recommendations">
    <h3>Recommendations</h3>
</ul>
<a href="/" id="homeLink">Back to All Shows</a>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/public/js/trending.js"></script>