/* Insert Css here */
/* #postLink, */
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
#recTitle {
  display: none;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navBar ul li {
  display: inline;
}

.navBar {
  background-color: #A9A9A9;
}

.footer {
  background-color: #A9A9A9;
}

#logo {
  width: 30px;
  height: 23px;
}

#landingMessageCenter {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}